body {
	background-color: black;
	color: yellow;
	font-family: monospace;
}

div {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid yellow;
  padding: 8px;
  text-align: left;
}
